#box1{
    height: 200px;
    width: 200px;
    border: 2px solid;
    background-color: tomato;
    text-align: center;
    font-size: 50px;
    line-height: 200px;

    transform: translateX(50px);
    transform: translateY(50px);
    transform: translate(50px,50px);
    transform: rotateY(180deg);
    transform: scale(2,2);
    transform: skewX(45deg);
    transform: skewY(45deg);
    transform: skew(20deg,20deg);

    /*
        matrix conbines the following:
        
        scaleX()
        scaleY()
        skewX()
        skewY()
        translateX()
        translateY()
    */
    transform: matrix(1,0,0,1,0,0);
}